@import "tailwindcss";

@theme {
  --color-background: hsl(222.2 84% 4.9%);
  --color-primary: hsl(262 83% 58%);
  --color-light-font: hsl(210 40% 98%);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
